body {
    background-color: #9C835F;
    max-width: 100%;
    height: 100vh;
    font-family: sans-serif;    
}

h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

img {
    padding: 5px;
    max-width: 75px;
}

.batu, .gunting, .kertas {
    position: relative;
    cursor: pointer;
    margin: 20px;
    transition: 0.3s;
}

.batu:hover, .kertas:hover, .gunting:hover,
.active {
    background-color: white;
}

.batu:active, .kertas:active, .gunting:active,
.active {
    background-color: white;
}

#header {
    display: flex;
    align-items: center;
    margin: auto 30px;
}

#header .text {
    text-decoration: none;
    color: #724C21;
    font-size: 4rem;
    margin: 15px;
}

#header .logo {
    margin: 15px;
}

#header h1 {
    color: #F9B23D;
    margin-left: 15px;
    margin-top: 20px;
}

.row {
    text-align: center;
}

#info {
    cursor: pointer;
    align-self: center;
}

#info h3 {
    text-align: center;
    align-self: center;
    color: #bd0000;
    font-size: 6em;
    font-weight: bold;
}

#info img {
    width: 72px;
    height: 72px;
    grid-row-start: 5;
}

#info .pemenang {
    width: 100%;
    height: 130px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    background: #4c9654;
    border-radius: 10px;
    cursor: pointer;
    font-size: 35px;
    letter-spacing: 0.1em;
    color: white;
    padding: 15px;    
}

#info .pemenang:hover {
    background: #035b0c;
}

#refresh {
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.refresh:hover {
    background:white;
}

.refresh-img {
    transition-duration: 2s;
}